version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - mongo
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - task-network

  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    networks:
      - task-network

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672" # interface web
    networks:
      - task-network

networks:
  task-network:
    driver: bridge
